.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
    
}
.pagination a{
    text-decoration: none;
    color: black;
}

.pagination a:hover,
a.current{
    color: blue;
}