#div{ 
    height: 25px;
    width: 60px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#div img {
    filter: brightness(100);
    transform: scale(0.7);
}

